@{
    ViewBag.Title = "Home Page";
}
<div class="clear20">

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="bg-orange card">
            <div class="card-center">
                <h3>
                    Tenaga Kerja Konstruksi
                </h3>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-red card space-top">
            <div class="card-center">
                <h3>
                    Kontraktor
                </h3>
            </div>

        </div>
    </div>
</div>
<div class="clear20">

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="bg-green card">
            <div class="card-center">
                <h3>
                    @Html.ActionLink("INSTRUKTUR", "Index", "Instructor")
                </h3>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-blue card space-top">
            <div class="card-center">
                <h3>
                    Assesor
                </h3>
            </div>

        </div>
    </div>
</div>
<div class="clear20">

</div>
<div class="row">
    <div class="col-lg-6">
        <div class="bg-statistic card">
            <div class="card-center">
                <h3>
                    @Html.ActionLink("STATISTIK", "Statistic", "Home")
                </h3>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-contact card space-top">
            <div class="card-center">
                <h3>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("KONTAK", "Index", "Contact")
                    }
                    else
                    {
                        @Html.ActionLink("KONTAK", "Public", "Contact")
                    }
                    
                </h3>
            </div>

        </div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{ 
    <div class="clear20">

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="bg-user card">
                <div class="card-center">
                    <h3>
                        @Html.ActionLink("USER", "Index", "User")
                    </h3>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            @*<div class="bg-contact card space-top">
                <div class="card-center">
                    <h3>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("KONTAK", "Index", "Contact")
                        }
                        else
                        {
                            @Html.ActionLink("KONTAK", "Public", "Contact")
                        }

                    </h3>
                </div>

            </div>*@
        </div>
    </div>
}